@charset ="utf-8";

html {
  background-color: green;
}

h1 {
  color: white;
}

table, th, td {
  width: 600px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color:#c5e1b1;

}
#pic {
  width: 200px;
  height: 150px;
  padding:10px;
  border: 3px solid green;
}

td img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

caption {
  color: white;
  caption-side: bottom;
}
